# Project ignore files
.env

# Beer Buddy API ignore files

beer-buddy-api/*.iml

# Ignore bundler config.
beer-buddy-api/.bundle

# Ignore the default SQLite database.
beer-buddy-api/db/*.sqlite3
beer-buddy-api/db/*.sqlite3-*

# Ignore all logfiles and tempfiles.
beer-buddy-api/log/*
beer-buddy-api/tmp/*
!beer-buddy-api/log/.keep
!beer-buddy-api/tmp/.keep

# Ignore pidfiles, but keep the directory.
beer-buddy-api/tmp/pids/*
!beer-buddy-api/tmp/pids/
!beer-buddy-api/tmp/pids/.keep

# Ignore uploaded files in development.
beer-buddy-api/storage/*
!beer-buddy-api/storage/.keep
beer-buddy-api/.byebug_history

# Ignore master key for decrypting credentials and more.
beer-buddy-api/config/master.key


# Beer Buddy client ignore files

# compiled output
beer-buddy-nx/dist
beer-buddy-nx/tmp
beer-buddy-nx/out-tsc

# dependencies
beer-buddy-nx/node_modules

# IDEs and editors
beer-buddy-nx/.idea
beer-buddy-nx/.project
beer-buddy-nx/.classpath
beer-buddy-nx/.c9/
beer-buddy-nx/*.launch
beer-buddy-nx/.settings/
beer-buddy-nx/*.sublime-workspace

# IDE - VSCode
beer-buddy-nx/.vscode/*
!beer-buddy-nx/.vscode/settings.json
!beer-buddy-nx/.vscode/tasks.json
!beer-buddy-nx/.vscode/launch.json
!beer-buddy-nx/.vscode/extensions.json

# local env files
beer-buddy-nx/.env
beer-buddy-nx/.env.local
beer-buddy-nx/.env.development.local
beer-buddy-nx/.env.test.local
beer-buddy-nx/.env.production.local

# misc
beer-buddy-nx/.sass-cache
beer-buddy-nx/connect.lock
beer-buddy-nx/coverage
beer-buddy-nx/libpeerconnection.log
beer-buddy-nx/npm-debug.log
beer-buddy-nx/yarn-error.log
beer-buddy-nx/testem.log
beer-buddy-nx/typings

# System Files
beer-buddy-nx/.DS_Store
beer-buddy-nx/Thumbs.db

beer-buddy-nx/.vercel

